<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>
<p> <%= image_tag @issue.avatar.url, width:"50%", height:"40%" %> </p>
<div class="row">
    <% @issue.articles.each do |article| %>
      <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-body">
            <h1><%= article.title %></h1>
            <h2><%= article.author%></h2>
            <p><%= article.content%></p>
            </div>
          </div>
        </div>
        <div class = "col-md-4">
            
            <h2>Quiz time!</h2>
            <p>Question</p>
            <p><%= article.quiz.question %></p>
            <p>Answer</p>
            <p><%= article.quiz.correct_answer %></p>

        </div>         
    <% end %>
</div>







<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
