<p id="notice"><%= notice %></p>

<h2>Article</h2>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.author %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Issue:</strong>
  <%= @article.issue.title%>
</p>

<p>
  <strong>Issue:</strong>
  <%= @article.issue.description%>
</p>
<h2>Quiz</h2>
<p>
  <strong>Question:</strong>
  <%= @article.quiz.question%>
</p>

<p>
  <strong>Answer:</strong>
  <%= @article.quiz.correct_answer%>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
